# This clang-format file requires clang-format 3.9

BreakBeforeBraces: Custom
BraceWrapping:
#  SplitEmptyFunctionBody: false
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterFunction: true
  BeforeCatch: true
  BeforeElse: true


UseTab: Always
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
PointerAlignment: Left
Standard: Cpp11
ColumnLimit: 120
IndentCaseLabels: false
MaxEmptyLinesToKeep: 3
#AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
Cpp11BracedListStyle: true
AlignEscapedNewlinesLeft: true
AlignAfterOpenBracket: Align
#AlignTrailingComments: true
#AlignConsecutiveDeclarations: true
#AlignConsecutiveAssignments: true
AlwaysBreakTemplateDeclarations: true
NamespaceIndentation: All