__pycache__
bin/
lib/
build/
.idea/
.idea/workspace.xml
py/.idea/
lib/Clang/
xcode/*
codeblocks/*
cmake-build-debug/*
core/Debug/
.vscode/
vs/
system_modules/napof/Debug/
system_modules/napof/Release/
system_modules/napgui/Debug/
system_modules/napgui/Release/napgui.tlog/Lib-link.read.1.tlog
system_modules/napgui/Release/
system_modules/napetherservice/Release/
system_modules/napinput/Debug/
system_modules/napetherservice/Debug/
core/Release/
system_modules/napinput/Release/
test/unittest/Release/unittest.vcxprojResolveAssemblyReference.cache
*.user
system_modules/napawesomium/Release/napawesomium.vcxprojResolveAssemblyReference.cache
system_modules/network/Release/
modules/
napkin/Release/
/msvc32
/msvc64
*.pyc
*.tlog
*.obj
*.cache
*.pdb
*.log
*.idb
.idea
log.csv
CMakeCache.txt
CMakeFiles/3.8.0-rc3/CMakeCCompiler.cmake
CMakeFiles/3.8.0-rc3/CMakeCXXCompiler.cmake
CMakeFiles/3.8.0-rc3/CMakeSystem.cmake
CMakeFiles/cmake.check_cache
arch.c
system_modules/.vs/Project/v14/.suo
.DS_Store
*.mesh
nap.sublime-project
nap.sublime-workspace
*.mesh
*.BridgeSort
docs/html
docs/latex
!/docs/doxygen/bin
apps/*
!apps/example
imgui.ini
packaging_staging
packaging_build
packaging_build_*
packaging_lib
packaging_bin
build_info.json
build_number.cmake
source_info.json
cached_app_json.cmake
cached_project_json.cmake
cached_module_json.cmake
NAP-*-*
NAP_SOURCE-*
.externalNativeBuild
*.iml
local.properties
.idea/workspace.xml
.idea/libraries
**/assets/nap_modules/*/module.json
*.db-shm
*.db-wal
apply_executable_permissions.cmd
cmake/qt_checker/proj_temp
*.swp
cmake-build-release
**/cache/path_mapping.json
/venv/
report.json
*.ini
demos/vinyl/data/snapshots
/solution_info.json
additional_targets.cmake
tools/buildsystem/packaged_dependencies_tester/*/*


# Brought over from thirdparty/.gitignore
thirdparty/rapidjson/thirdparty/
*.o
thirdparty/rttr/macos/*
!thirdparty/rttr/macos/x86_64
!thirdparty/rttr/macos/universal
thirdparty/rttr/msvc/*
!thirdparty/rttr/msvc/x86_64
thirdparty/rttr/linux/*
!thirdparty/rttr/linux/x86_64
!thirdparty/rttr/linux/armhf
!thirdparty/rttr/linux/arm64
thirdparty/rttr/.DS_Store
system_modules/naprender/thirdparty/assimp/xcode/*
system_modules/naprender/thirdparty/assimp/test/*
system_modules/naprender/thirdparty/assimp/*.cmake-build-debug
*.def
*.db
!*.pdb
*.exp
*.suo
*.ilk
*.opendb
*.tlo
*.iobj
*.ipdb
*.idb
*.ipch
*.tlog
pyvenv.cfg
system_modules/naprender/thirdparty/vulkansdk/linux/lib/libVkLayer_khronos_validation.so
system_modules/naprender/thirdparty/vulkansdk/linux/lib/libVkLayer_api_dump.so
system_modules/naplicense/thirdparty/cryptopp/linux/*/lib/libcryptopp.a
!system_modules/napportaudio/thirdparty/portaudio/macos/universal/lib/
!system_modules/napaudio/thirdparty/libsndfile/macos/universal/lib/
!system_modules/napaudio/thirdparty/mpg123/macos/universal/lib/
!system_modules/naposc/thirdparty/oscpack/macos/universal/lib/
!system_modules/napmidi/thirdparty/rtmidi/macos/universal/lib/
!thirdparty/rttr/macos/universal/bin/
!thirdparty/python/macos/universal/bin/
!thirdparty/python/macos/universal/lib/
!thirdparty/cmake/macos/universal/bin/
!thirdparty/cmake/macos/universal/share/*/*
thirdparty/docker_images/cmake
