/.idea
/bin
*.suo
*.user
*.lib
*.log
*.pdb
*.idb
*.sdf
*.tlog
*.opendb
*.obj
*.exe
*.cache
*.iobj
*.ipdb
/lib
*.ilk
rtti/x64/Release/rttitestapp.exe
*.ilk
*.iobj
*.TMP
rtti/x64/Release/rttitestapp.exe
*.exe
*.dll
rtti/x64/Release/rttitestapp.iobj
x64/Debug/coretestapp.ilk
*.ilk
core/src/plug.h
core/src/src.rar
**/Builds/**
**/JuceLibraryCode/**
**/GeneratedFiles/**
vs/**
*.rar
*DS_Store*
modules/napetherservice/ReadMe.txt
build/
