<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>fbxconverter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>generateXcodeProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>mod_napinput.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>mod_napmath.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>mod_naprender.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>mod_napscene.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>mod_napsdlinput.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>mod_napsdlwindow.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>napcore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>naprtti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>naputility.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>nrender.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>rendertest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>serializationtest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>steef.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>tommy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>198885AF5A58489D8A4B92C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19F75B87D18F49139C75E106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3152988C2661431EAF52E1F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3967BCB0A9054EAABFBFFA84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DEB7345D3544835BEC959DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7E1C4FA1864463B0A4F995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BF17ACA7AF1492EB5B350DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6049C1A1CF4D424687A9A4D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>753F01F27B7E4B63A97CC42C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>759160D515EC4D16BCF1D322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF42A1E89C747A7A043E157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9307DDCFE6B1482C9CB61CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9929004C0F9E4DDCA4F0CAF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A09CD1140C4441C698515593</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF575A07C0204E86B3327681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2848571240490CA7597E72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA5347A14DD64F99A6BF8B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDC898D85AF84173990A072C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
