<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>etherdream.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>fbxconverter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>generateXcodeProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>mod_napetherdream.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>mod_napinput.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>mod_napmath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>mod_nappython.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>mod_naprender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>mod_napscene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>mod_napsdlinput.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>mod_napsdlwindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>mod_napvideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>napcore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>naprtti.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>naputility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>nrender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>rendertest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>serializationtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>steef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>tommy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>videoplayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A864DB13A1743F6BB12A460</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21E0E81AE8CC4B5A9C093078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>382BFAE2F031425EBCA916A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F5CFA8A398F467A95FD22CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50EBD9987B3B4AA2B5038498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57AF98044A9C4CA7A2143A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>699CA08586D6453E950D2EA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7346043F3FDE40A08B253831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F9953A4AC0441D7B05AAF69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>801C10FC4692498AA35086CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847483671B044926AB25C4FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88769E8EC18C4851831CFD65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F47DB7EB35A4B45BFC180ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A031CEBAC8345C3BC897D80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABFA866E924742398C94912E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF8C92E337CC4BA987CB5791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD1981BF6A24EF485E1C45D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5C256AF8E9F493499D2D876</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7129AEF2AC54CFEBDD93541</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFCDC921B6F74838B33301C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F002BE5574144405A3E82F19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1F1BA9FB0064F6AA364748B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4E94802F40640068028E9CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
